@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.site {
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

.container {
    width: 1310px;
    margin: 0 auto;
}

.header {
    height: 122px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #fff 0%, #dbdbdb 100%);
}

.header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container img {
    width: 165px;
}

.header .container ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;   
}

.header .container i {
    font-size: 15px;
    color: white;
    background: gray;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
}
.header .container i:hover {
    color: gray;
    background: transparent;
    font-size: 17px;
}

.header .container span {
    font-size: 15px;
    color: white;
    background: gray;
    padding: 10px;
    border-radius: 20px;
    transition: 0.3s;
}
.header .container span:hover {
    color: gray;
    background: transparent;
}

/* Menu Principal */

.menu {
    height: 55px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #fff -5%, #e4e4e4 100%);
}

.menu .container {
    height: 100%;
}

.menu ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

menu a {
    color: #003c6a;
    text-decoration: none;
    padding: 18px;
}
menu a:hover {
    background-color: white;
}

/* Banners */

.banner {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
}

.banner img {
    height: 500px;
    width: 100%;
}

/* NOTICIAS */

.noticias-competencias {
    padding: 100px 0px;
    background-image: linear-gradient(180deg, #000315 0%, #000825 100%);
}

.noticias-competencias .titulo {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    padding: 20px 20px 20px 0px;
}

.noticias-competencias a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: end;
    padding: 20px 0px 20px 0px;
}

.noticias {
    display: flex;
    gap: 20px;
}

.noticias .noticia {
    background-color: white;
    flex: 1 1 24%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.noticia .imagem {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.noticia .imagem img {
    width: 100%;
    transition: all 0.5s ease;
}

.noticia .imagem:hover img{
    scale: 1.1;
}

.noticia .data {
    padding: 8px 0;
    background-color: #00315EBD;
    color: rgb(92, 160, 216);
    font-style: italic;
    text-align: center;
    width: 100%;

    position: absolute;
    z-index: 1;

    transition: all 0.5s ease;
    bottom: 0;
}

.noticia .imagem:hover .data {
    bottom: -35px;
}

.noticia .post {
    display: flex;
    padding: 15px;
}
.noticia .post p {
    color: #003C6A;
}
.noticia .botao {
    color: #003C6A;
    text-decoration: none;
    padding: 20px;
    display: flex;
    justify-content: end;
}
.noticia .botao a {
    color: #003C6A;
    text-decoration: none;
    background-color: rgb(231, 228, 228);
    padding: 10px;
    border-radius: 25px;
    transition: all 0.2s ease;
}

.noticia .botao:hover a{
    background-color: #003C6A;
    color: rgb(231, 228, 228);
}

/* COMPETÊNCIAS */

.competencias {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.competencias .competencia {
    position: relative;
    flex: 0 0 32%;
    border-radius: 10px;
    overflow: hidden;
}

.competencia .imagem img {
    width: 100%;
    transition: all 1s ease;
}

.competencia:hover .imagem img {
    scale: 1.2;
}

.competencia .titulo {
    width: 80%;
    color: white;
    font-size: 25px;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 1;
    bottom: 20px;
    left: calc(50% - 40%);
    text-align: center;
}

/* OPORTUNIDADES */

.oportunidades {
    padding: 100px 0px;
}

.oportunidades .titulo{
    color: #003c6a;
}

.cards {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards .titulo{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.card {
    width: 24%;
    height: 400px;
    padding: 20px;
    border-radius: 15px;
}

.card span {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 20px;
    align-items: center;
    padding-left: 10px;
    background-color: white;
    display: flex;
    font-size: 17px;
    transition: all 0.5s ease;
}

span:hover {
    scale: 1.1;
}

#cursos{
    background-color: #FAB518;
}

#editais{
    background-color: #009339;
}

#ecossistema{
    background-color: #0082C4;
}

#seja-empregado{
    background-color: #E40F1C;
}

#cursos span {
    color: #FAB518;
}

#editais span {
    color: #009339;
}

#ecossistema span {
    color: #0082C4;
}

#seja-empregado span {
    color: #E40F1C;
}

footer {
    background-image: linear-gradient(180deg, #00315E 0%, #001232 100%);
    height: 400px;
}

.rodape {
    height: 100%;
    background-image: linear-gradient(180deg, #00315e 0%, #000825 100%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rodape .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 80px;
    gap: 50px;
}

.rodape-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rodape-1 img {
    height: 50px;
    width: 180px;
    margin-bottom: 10px;
}

.rodape-1 ul {
    display: flex;
    gap: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.rodape-1 li i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0082C4;
    color: #00315E;
    border-radius: 50%;
    font-size: 18px;
    padding: 8px;
    transition: all 0.2s ease;
}

.rodape-1 li i:hover {
    background-color: #00315E;
    color: #0082C4;
    border: solid 0.5px #0082C4;
}

.rodape-1 p {
    margin: 0;
    color: white;
    font-size: 14px;
}

.rodape-1 a {
    text-decoration: none;
}

.rodape-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.rodape-2 .links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.rodape-2 ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.rodape-2 ul li {
    list-style: none;
}

.rodape-2 a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.rodape-2 a:hover {
    color: #005F92;
}

.rodape .botao {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #0082C4 0%, #005F92 100%);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-style: italic;
}

.rodape .botao:hover {
    background: linear-gradient(180deg, #005F92 0%, #003E66 100%);
}
