* {
    margin: 0px;
}
.container {
    display: flex;
    flex-direction: row;
    font-size: 50px;
    color: green;
    height: 100vh;
}
.letra {
    background-color: white;
    width: 200px;
    padding: 40px;
    margin: 10px;
    flex: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.a {
    align-self: flex-start;
}

.b {
    align-self: stretch;
}

.c {
    align-self: center;
}

.d {
    align-self: flex-end;
}

.e {
    align-self: flex-start  ;
}

body {
    background-color: darkgreen;
}
