* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class^="col-"] {
    border: solid 1px #ddd;
    padding: 10px;
}

.col-1 {
    flex: 1 1 calc(100% / 12);
}

.col-2 {
    flex: 1 1 calc(100% / 6);
}

.col-3 {
    flex: 1 1 calc(100% / 4);
}

.col-4 {
    flex: 1 1 calc(100% / 3);
}

.col-5 {
    flex: 1 1 calc(100% / 12 * 5);
}

.col-6 {
    flex: 1 1 calc(100% / 2);
}

.col-7 {
    flex: 1 1 calc(100% / 12 * 7);
}

.col-8 {
    flex: 1 1 calc(100% / 12 * 8);
}

.col-9 {
    flex: 1 1 calc(100% / 12 * 9);
}

.col-10 {
    flex: 1 1 calc(100% / 12 * 10);
}

.col-11 {
    flex: 1 1 calc(100% / 12 * 11);
}

.col-12 {
    flex: 1 1 100%;
}

@media (max-width: 767px) {
    .col-cel-1 {
        flex: 1 1 calc(100% / 12);
    }

    .col-cel-2 {
        flex: 1 1 calc(100% / 6);
    }

    .col-cel-3 {
        flex: 1 1 calc(100% / 4);
    }

    .col-cel-4 {
        flex: 1 1 calc(100% / 3);
    }

    .col-cel-5 {
        flex: 1 1 calc(100% / 12 * 5);
    }

    .col-cel-6 {
        flex: 1 1 calc(100% / 2);
    }

    .col-cel-7 {
        flex: 1 1 calc(100% / 12 * 7);
    }

    .col-cel-8 {
        flex: 1 1 calc(100% / 12 * 8);
    }

    .col-cel-9 {
        flex: 1 1 calc(100% / 12 * 9);
    }

    .col-cel-10 {
        flex: 1 1 calc(100% / 12 * 10);
    }

    .col-cel-11 {
        flex: 1 1 calc(100% / 12 * 11);
    }

    .col-cel-12 {
        flex: 1 1 100%;
    }
}