* {
    margin: 0px;
    padding: 0px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.container-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container-column-reverse {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.robo {
    border: 1px solid black;
    margin: 5px;
    text-align: center;
}

.henrique {
    order: 1;
}
.akira {
    order: 2;
}
.murakami {
    order: 3;
}